

  <nav class="navbar navbar-expand-lg  bg-dark">
    <div class="container-fluid">


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="#"></a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Moi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../skills/skills.component.html">Compétences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="formations">Formations</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="experiences">Experiences</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="messages">Message</a>
          </li>

<!--
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <div class="contenu">
    <form   class ="form  animate__animated animate__backInUp" action="/ma-page-de-traitement" method="post">
      <h2 >Modifier le Home</h2>

<div class="box">
  <div class="boxform">
        <div  class ="block_input">
        <label for="Prenom"> </label>
        <input type="text" placeholder="Prenom : Jonathan" id="firstname" name="my_firstname" >
        </div>
        <div class ="block_input">
          <label for="Nom"> </label>
          <input type="text" placeholder="Nom : DIKIZEYIKO" id="name" name="my_name" required>
        </div>
        <div class ="block_input">
        <label for="poste"> </label>
        <input type="text" placeholder="Poste : DEVELOPPEUR WEB / EN ALTERNANCE" id="poste" name="mon_poste" required>
      </div>
      <div class ="block_input">
      <label for="age"> </label>
      <input type="text" placeholder="age : 25 "  id="age" name="mon_age" required>
      </div>
  </div>
   <div class="boxform2">

     <div class ="block_input">
       <label for="adresse"></label>
     <input type="text" placeholder="Choisy-Le-Roi, île de France, FRANCE" id="adresse" name="mon_adresse" required>
     </div>

         <div class ="block_input">
          <label for="mail"></label>
          <input type="email" placeholder="contact@jonathandiki.com"  id="mail" name="my_mail" required>
         </div>

      <div class ="block_input">
        <label for="phone"></label>
        <input type="text" placeholder="+33 7 51 04 01 16" id="phone" name="mon_phone" required>
    </div>
      <!-- <div class ="block_input">
          <label for="msg"></label>
        <textarea  placeholder="+33 7" id="msg" name="about" > " Jeune etudiant Passionné d’informatique
           et de nouvelles technologies notamment le
            developpement d’applications web et mobiles.
            Desireux de relever de nouveaux défis,
            motivé pour apprendre, également rigoureuxet ponctuel,
            je souhaite mettre mes compétences au service de l’atteinte de vosobjectifs professionnels" </textarea>
      </div> -->


  </div>

</div>
  <div class="btn" >
    <button class="b1" type="submit">Enregistrer</button>
</div>
  </form>
</div>






