<div class="contenu">
  <form
    class="form animate__animated animate__backInUp"
    action="/ma-page-de-traitement"
    method="post"
  >
    <h2>Modifier le Home</h2>

    <div class="box">
      <div class="boxform">
        <div class="block_input">
          <label for="Prenom"> </label>
          <input
            type="text"
            placeholder="Prenom : Jonathan"
            id="firstname"
            name="my_firstname"
          />
        </div>
        <div class="block_input">
          <label for="Nom"> </label>
          <input
            type="text"
            placeholder="Nom : DIKIZEYIKO"
            id="name"
            name="my_name"
            required
          />
        </div>
        <div class="block_input">
          <label for="poste"> </label>
          <input
            type="text"
            placeholder="Poste : DEVELOPPEUR WEB / EN ALTERNANCE"
            id="poste"
            name="mon_poste"
            required
          />
        </div>
        <div class="block_input">
          <label for="age"> </label>
          <input
            type="text"
            placeholder="age : 25 "
            id="age"
            name="mon_age"
            required
          />
        </div>
      </div>
      <div class="boxform2">
        <div class="block_input">
          <label for="adresse"></label>
          <input
            type="text"
            placeholder="Choisy-Le-Roi, île de France, FRANCE"
            id="adresse"
            name="mon_adresse"
            required
          />
        </div>

        <div class="block_input">
          <label for="mail"></label>
          <input
            type="email"
            placeholder="contact@jonathandiki.com"
            id="mail"
            name="my_mail"
            required
          />
        </div>

        <div class="block_input">
          <label for="phone"></label>
          <input
            type="text"
            placeholder="+33 7 51 04 01 16"
            id="phone"
            name="mon_phone"
            required
          />
        </div>
        <!-- <div class ="block_input">
          <label for="msg"></label>
        <textarea  placeholder="+33 7" id="msg" name="about" > " Jeune etudiant Passionné d’informatique
           et de nouvelles technologies notamment le
            developpement d’applications web et mobiles.
            Desireux de relever de nouveaux défis,
            motivé pour apprendre, également rigoureuxet ponctuel,
            je souhaite mettre mes compétences au service de l’atteinte de vosobjectifs professionnels" </textarea>
      </div> -->
      </div>
    </div>
    <div class="btn">
      <button class="b1" type="submit">Enregistrer</button>
    </div>
  </form>
</div>
